@import "../../../styles/mixins/color.scss";
@import "../../../styles/mixins/font.scss";

.IceCreamCard {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 26.389vw;
  height: 40.972vw;
  border-radius: 1.736vw;
  margin: 200px 100px;
  font-family: $poppins;
  color: $brown;
  align-items: center;
  // overflow: hidden; // Hide overflow to prevent image from affecting height

  .ProductImg {
    width: 13vw;
    position: absolute;
    top: -10px; // Adjust as needed to have the upper corner out
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  .IceCreamCard_info {
    gap: 2.083vw;
    align-items: center;
    top: 20px;

    .IceCreamCard_info_title {
      text-align: center;
      position: relative;
      top: 50%;
      font-size: 1.667vw;
      font-weight: 700;
    }

    .IceCreamCard_info_descript {
      font-size: 1.111vw;
      text-align: center;
      font-weight: 400;
    }

    .IceCreamCard_info_rating {
      align-items: center;
    }
  }
}

  